<!DOCTYPE html>
<html lang="en">
<head>
	<title>MacHammer</title>
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css"/>
	<script type="text/javascript" src="/static/js/jquery.min.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
	<style type="text/css">
		body {
	        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
	      }
	</style>
	<script type="text/javascript">
		$(function() {
			loc = location.pathname.split("/")[1]
			$('#navbar>li>a[href*="' + loc + '"]').parent().addClass('active');

            $('input#filter').keyup(function() {
                var rex = new RegExp($(this).val(), 'i');
                $('.searchable tr').hide();
                $('.searchable tr').filter(function() {
                    return rex.test($(this).text());
            }).show();
    });

		});
	</script>
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">MacHammer</a>
          <div class="nav-collapse collapse">
            <ul class="nav" id="navbar">
            	<li><a href="{% url main.views.workflows %}">Workflows</a></li>
          		<li><a href="{% url main.views.specs %}">Specs</a></li>
          		<li><a href="{% url main.views.updates %}">Updates</a></li>
          		<li><a href="{% url main.views.settings %}">Settings</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
    	<div class="row">
  			<div class="span2">
                {% block sidebar %}
                    
                {% endblock sidebar %}
  			</div>
  			<div class="span10">
                <div class="row">
  				{% block content %}
	
				{% endblock content %}
            </div>
  			</div>
		</div>
    </div> <!-- /container -->
</body>
</html>
