{% extends "default.html" %}

{% block content %}

<div class="btn-group pull-right">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    {{ lang }}
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
  	{% for l in langs %}
  		<li><a href="?lang={{ l }}">{{ l }}</a></li>	
  	{% endfor %}
  </ul>
</div>
<form class="form-search">
    <input type="text" class="input-medium search-query" placeholder="{{ updates|length }} updates..." id="filter"/>
</form>
<table class="table table-hover">
	<thead>
		<tr>
			<th>Name</th>
			<th>Version</th>
			<th>Post Date</th>
			<th></th>
		</tr>
	</thead>
	<tbody class="searchable">
		{% for u in updates %}
			<tr>
				<td>{{ u.title }}</td>
				<td>{{ u.version }}</td>
				<td>{{ u.date }}</td>
				<td>
					<div class="btn-group pull-right">
  						<a href="#" data-toggle="dropdown" class="btn dropdown-toggle" title="{{ u.title }}">
  							<i class="icon-download-alt"></i> <span class="caret"></span>
  						</a>
  						<ul class="dropdown-menu">
    						{% for p in u.packages %}
    							<li><a href="{{ p.url }}">{{ p.filename }} - {{ p.size|filesizeformat }}</a></li>
    						{% endfor %}
  						</ul>
					</div>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock content %}
